name: Push Docker Image to ACR

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]
permissions:
      id-token: write
      contents: read

jobs:

  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4
    - uses: azure/docker-login@v2
      with:
        login-server: contianerregistery.azurecr.io
        username: ${{ secrets.REGISTRY_USERNAME }}
        password: ${{ secrets.REGISTRY_PASSWORD }}

    - run: |
       docker build DockerFileFolder/ -t contianerregistery.azurecr.io/myapp:latest
       docker push contianerregistery.azurecr.io/myapp:latest
       
    - name: 'Login via Azure CLI'
      uses: azure/login@v1
      with:
        client-id: 37d4c273-fab9-4206-870b-093535ea2157
        tenant-id: 89a17a2e-55b6-4bad-abb8-99b5fe2ed5db
        subscription-id: 3a6eefd3-a780-479c-b9c8-09af6abdfbaf

 
    - uses: azure/webapps-deploy@v2
      with:
        app-name: 'Appservices'
        images: 'contianerregistery.azurecr.io/myapp:latest'  
        


        
        
