name: Push Docker Image to ACR

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:

  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4
    - uses: azure/docker-login@v2
      with:
        login-server: containeregistery.azurecr.io
        username: ${{ secrets.REGISTRY_USERNAME }}
        password: ${{ secrets.REGISTRY_PASSWORD }}

    - run: |
       docker build DockerFileFolder/ -t ${{ secrets.ACR_LOGIN_SERVER }}/myapp:latest
       docker push containeregistery.azurecr.io/myapp:latest

    
